In [1]:
import pandas as pd
import numpy as np

# Merging datasets that contains the Idea of the startup

## Cleaning LinkedIn dataset

In [38]:
df_linkedin = pd.read_csv("../../Data/Linkedin EM exited companies.csv")
df_linkedin.head(5)

,SNo.,Company Name,Domain Name,Overview,Unnamed: 4,Founded Year,City,State,Country,Is Funded,...,Latest Valuation as on,Total Employee Count,Total Employee Count as on,Tracxn Score,Revenue Multiple,Revenue Multiple as on,Special Flags : Yes,Special Flags : No,Special Flags : Unknown,In rounds sheet
0,500M+,Careem,careem.com,App-based platform for ride-hailing & on-deman...,NaN,2012,Dubai,Dubai,United Arab Emirates,Yes,...,NaN,NaN,NaN,79.54,NaN,NaN,Consumer\nMarketplace\nTech,Enterprise\nSaaS\nSoftware\nTech Hardware\nSoc...,Innovative\nHigh IP\nGoods\nService\nLooks Sca...,0
1,500M+,AliExchange,aliexchange.com,Cryptocurrency exchange platform,NaN,2018,Tallinn,Harju,Estonia,No,...,NaN,NaN,NaN,11.93,NaN,NaN,Tech\nConsumer\nBlockchain,Enterprise\nMarketplace\nSaaS\nSoftware\nTech ...,Innovative\nHigh IP\nGoods\nService\nLooks Sca...,0
2,500M+,BIGO,bigo.sg,Video-based social media platform and related ...,NaN,2014,Singapore,Singapore,Singapore,Yes,...,NaN,NaN,NaN,49.84,NaN,NaN,Consumer\nTech\nSoftware,Enterprise\nMarketplace\nSaaS\nTech Hardware\n...,Innovative\nHigh IP\nGoods\nService\nLooks Sca...,0
3,500M+,Getnet,getnet.com.br,mPOS software and hardware solution for offlin...,NaN,2013,Sao Paulo\nPorto Alegre,Estado Do Rio Grande Do Sul,Brazil\nBrazil,Yes,...,NaN,NaN,NaN,57.42,NaN,NaN,Tech\nEnterprise\nTech Hardware,Consumer\nMarketplace\nSaaS\nSocial Impact\nAr...,Software\nInnovative\nHigh IP\nGoods\nService\...,0
4,500M+,Lazada,lazada.com,Online retailer offering multi-category products,NaN,2012,Singapore,Singapore,Singapore,Yes,...,NaN,NaN,NaN,74.70,NaN,NaN,Tech\nConsumer,Marketplace\nEnterprise\nSaaS\nBlockchain\nArt...,Innovative\nHigh IP\nGoods\nService\nLooks Sca...,0

In [39]:
df_linkedin_cleaned = pd.DataFrame(df_linkedin[['Company Name', 'Overview', 'Description', 'Founded Year', 'City', 'State', 'Country', 'Company Stage', 'Acquired Year', 'Website Status', ]])
df_linkedin_cleaned

,Company Name,Overview,Description,Founded Year,City,State,Country,Company Stage,Acquired Year,Website Status
0,Careem,App-based platform for ride-hailing & on-deman...,Careem is an app-based platform for ride-haili...,2012,Dubai,Dubai,United Arab Emirates,Acquired,2019.0,200
1,AliExchange,Cryptocurrency exchange platform,NaN,2018,Tallinn,Harju,Estonia,Acquired,2019.0,403
2,BIGO,Video-based social media platform and related ...,Bigo is a video-based social media platform an...,2014,Singapore,Singapore,Singapore,Acquired,2019.0,200
3,Getnet,mPOS software and hardware solution for offlin...,Getnet offers mPOS software and hardware solut...,2013,Sao Paulo\nPorto Alegre,Estado Do Rio Grande Do Sul,Brazil\nBrazil,Acquired,2014.0,200
4,Lazada,Online retailer offering multi-category products,Lazada is an online retailer offering multi-ca...,2012,Singapore,Singapore,Singapore,Acquired,2016.0,200
...,...,...,...,...,...,...,...,...,...,...
119,MedPhone,Provider of a digital medical information app ...,Provider of a digital medical information app ...,2018,Recife,Estado De Pernambuco,Brazil,Acquired,2020.0,200
120,Start Now,Social enterprise and civic technology startup,"Based in Singapore, Start Now is an online pl...",2011,Singapore,Singapore,Singapore,Acquired,2015.0,-1
121,MGC Derma,Manufacturer of cannabis based skin care products,NaN,2016,Ljubljana,NaN,Slovenia,Acquired,2018.0,200
122,PixelAnt Games,PC & Console game developer,PC & Console game developer. It is working on ...,2020,Wroclaw,Lower Silesian Voivodeship,Poland,Acquired,2021.0,200
123,GoCar Mobility,Online car rental service,"Based in Malaysia, GoCar is online portal to r...",2014,Kuala Lumpur,Kuala Lumpur,Malaysia,Acquired,2016.0,200

In [40]:
df_linkedin_cleaned['Description'] = df_linkedin_cleaned.apply(lambda x: x['Overview'] if pd.isna(x['Description']) else x['Description'], axis=1)
df_linkedin_cleaned['City'] = df_linkedin_cleaned['City'] + " " + df_linkedin_cleaned['Country']
df_linkedin_cleaned['operating_years'] = df_linkedin_cleaned['Acquired Year'] - df_linkedin_cleaned['Founded Year']
df_linkedin_cleaned['number_employees'] = np.nan
df_linkedin_cleaned['latest_funding_round'] = np.nan
df_linkedin_cleaned.drop(columns = ['Acquired Year', 'Overview', 'State', 'Country'], inplace = True)
df_linkedin_cleaned.rename(columns={
    'Company Name': 'name',
    'Description': 'idea',
    'Founded Year': 'start_date',
    'City': 'location',
    'Company Stage': 'status',
    'Website Status': 'website_status'}, inplace=True)
df_linkedin_cleaned

,name,idea,start_date,location,status,website_status,operating_years,number_employees,latest_funding_round
0,Careem,Careem is an app-based platform for ride-haili...,2012,Dubai United Arab Emirates,Acquired,200,7.0,NaN,NaN
1,AliExchange,Cryptocurrency exchange platform,2018,Tallinn Estonia,Acquired,403,1.0,NaN,NaN
2,BIGO,Bigo is a video-based social media platform an...,2014,Singapore Singapore,Acquired,200,5.0,NaN,NaN
3,Getnet,Getnet offers mPOS software and hardware solut...,2013,Sao Paulo\nPorto Alegre Brazil\nBrazil,Acquired,200,1.0,NaN,NaN
4,Lazada,Lazada is an online retailer offering multi-ca...,2012,Singapore Singapore,Acquired,200,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
119,MedPhone,Provider of a digital medical information app ...,2018,Recife Brazil,Acquired,200,2.0,NaN,NaN
120,Start Now,"Based in Singapore, Start Now is an online pl...",2011,Singapore Singapore,Acquired,-1,4.0,NaN,NaN
121,MGC Derma,Manufacturer of cannabis based skin care products,2016,Ljubljana Slovenia,Acquired,200,2.0,NaN,NaN
122,PixelAnt Games,PC & Console game developer. It is working on ...,2020,Wroclaw Poland,Acquired,200,1.0,NaN,NaN
123,GoCar Mobility,"Based in Malaysia, GoCar is online portal to r...",2014,Kuala Lumpur Malaysia,Acquired,200,2.0,NaN,NaN

## Cleaning startuptracker.io dataset

In [41]:
df_startuptracker = pd.read_csv("../../../Task 4 - Data Collection/start_up_io/data_from_startup_io.csv")
df_startuptracker.head(5)

,market,products,launch_stage,activity_level,activity_verified,pageviews,team_member,founded_by,revenue_stage,revenue_through,twitter_followers,percentile,amount_raised,company_website,description,name,founded,place,crunchbase_link,ranking
0,"'marketing', 'productivity', 'social networks'...","'desktop app', 'mobile app', 'service', 'web app'",Publicly,Low company activity detected,21 Jan 21,~72.6k,11-50,'SocialMeep',Post,"'b2c', 'b2b', 'freemium', 'subscription'",184,9,Undisclosed,https://socialmeep.com?ref=startuptracker,'SocialMeep builds automatic growth and market...,'SocialMeep',March 3 2018,New York US,https://www.crunchbase.com/organization/social...,66.1k
1,"'design', 'education', 'software dev'",'web app',Publicly,High company activity detected,15 Jan 21,~18.9k,4,'DesignerUp',Pre,"'b2c', 'free to use', 'sales'",590,9,Undisclosed,http://DesignerUp.co?ref=startuptracker,'An ecosystem of UI/UX and product design reso...,'DesignerUp',October 21 2018,San Francisco US,https://angel.co/company,252k
2,"'advertising', 'marketing', 'startups', 'content'",'web app',Publicly,High company activity detected,14 Jan 21,~1.7k,4,"'strategynode', 'Tyler J. Fox'",Pre,"'b2c', 'b2b', 'free to use'",7,9,Undisclosed,https://katang.io/?t_pid=2?ref=startuptracker,'KaTang is an end-to-end content marketing pla...,'KaTang',November 1 2019,Lehi US,https://www.crunchbase.com/organization/katang,2.7m
3,"'advertising', 'e commerce', 'media', 'content'","'mobile app', 'web app'",Publicly,High company activity detected,30 Dec 20,~5k,5-10,"'Rad Padre', 'Freedom TV+'",Pre,"'b2c', 'free to use', 'commission', 'affiliation'",11,9,Undisclosed,https://www.freedomrains.com/?ac=218B21?ref=st...,'Shopping assistant browser extension that pro...,"'Above & Beyond Studios, Inc.'",June 26 2019,Boston US,https://producthunt.com/posts/freedom-super-sa...,945.7k
4,"'security', 'blockchain'",'mobile app',Publicly,No recent company activity detected,29 Dec 20,~957,5-10,'VyrocApp',Post,"'b2c', 'free to use', 'advertising', 'subscrip...",17,9,Undisclosed,http://vyrocapp.com?ref=startuptracker,"'Private Search Engine, Powered by the Blockch...",'Vyroc',January 1 2020,New York US,https://www.crunchbase.com/organization/vyroc,4.8m

In [42]:
df_startuptracker_cleaned = pd.DataFrame(df_startuptracker[['name', 'description', 'founded', 'place', 'team_member', 'activity_verified' ]])
df_startuptracker_cleaned

,name,description,founded,place,team_member,activity_verified
0,'SocialMeep','SocialMeep builds automatic growth and market...,March 3 2018,New York US,11-50,21 Jan 21
1,'DesignerUp','An ecosystem of UI/UX and product design reso...,October 21 2018,San Francisco US,4,15 Jan 21
2,'KaTang','KaTang is an end-to-end content marketing pla...,November 1 2019,Lehi US,4,14 Jan 21
3,"'Above & Beyond Studios, Inc.'",'Shopping assistant browser extension that pro...,June 26 2019,Boston US,5-10,30 Dec 20
4,'Vyroc',"'Private Search Engine, Powered by the Blockch...",January 1 2020,New York US,5-10,29 Dec 20
...,...,...,...,...,...,...
634,'Paystack','Paystack lets businesses accept payments via ...,December 18 2015,Ikeja Nigeria,11-50,6 Nov 17
635,'ChowHub','ChowHub is an online restaurant discovery and...,August 31 2015,Abuja Nigeria,3,9 Dec 16
636,'ScholarX','ScholarX helps young Africans access quality ...,May 1 2016,Lagos Nigeria,4,18 Nov 16
637,'RubiQube','RubiQube is a video advertising network that ...,February 29 2016,Lagos Nigeria,2,3 Oct 16
638,'CELLCORE','Problem solving value added service provider',Ibadan Nigeria,in team 1-10,Post,No recent company activity detected

In [43]:
df_startuptracker_cleaned.drop(df_startuptracker_cleaned.tail(1).index, inplace=True)
df_startuptracker_cleaned['founded'] = df_startuptracker_cleaned['founded'].apply(lambda x: x[-4:])
df_startuptracker_cleaned['activity_verified'] = '20' + df_startuptracker_cleaned['activity_verified'].apply(lambda x: x[-2:])
df_startuptracker_cleaned['operating_years'] = df_startuptracker_cleaned['activity_verified'].astype(int) - df_startuptracker_cleaned['founded'].astype(int)
df_startuptracker_cleaned['status'] = np.nan
df_startuptracker_cleaned['latest_funding_round'] = np.nan
df_startuptracker_cleaned['website_status'] = np.nan
df_startuptracker_cleaned.drop(columns = ['activity_verified'], inplace = True)
df_startuptracker_cleaned.rename(columns={
    'description': 'idea',
    'founded': 'start_date',
    'place': 'location',
    'team_member': 'number_employees'}, inplace=True)
df_startuptracker_cleaned

,name,idea,start_date,location,number_employees,operating_years,status,latest_funding_round,website_status
0,'SocialMeep','SocialMeep builds automatic growth and market...,2018,New York US,11-50,3,NaN,NaN,NaN
1,'DesignerUp','An ecosystem of UI/UX and product design reso...,2018,San Francisco US,4,3,NaN,NaN,NaN
2,'KaTang','KaTang is an end-to-end content marketing pla...,2019,Lehi US,4,2,NaN,NaN,NaN
3,"'Above & Beyond Studios, Inc.'",'Shopping assistant browser extension that pro...,2019,Boston US,5-10,1,NaN,NaN,NaN
4,'Vyroc',"'Private Search Engine, Powered by the Blockch...",2020,New York US,5-10,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
633,'Banta','Banta is a social platform that allow you exp...,2017,Abuja Nigeria,5-10,0,NaN,NaN,NaN
634,'Paystack','Paystack lets businesses accept payments via ...,2015,Ikeja Nigeria,11-50,2,NaN,NaN,NaN
635,'ChowHub','ChowHub is an online restaurant discovery and...,2015,Abuja Nigeria,3,1,NaN,NaN,NaN
636,'ScholarX','ScholarX helps young Africans access quality ...,2016,Lagos Nigeria,4,0,NaN,NaN,NaN
637,'RubiQube','RubiQube is a video advertising network that ...,2016,Lagos Nigeria,2,0,NaN,NaN,NaN

## Cleaning autopsy_io (failed startups) dataset

In [44]:
df_autopsy = pd.read_csv("../../../Task 4 - Data Collection/Datasets for Baseline Model/autopsy_io/failed_companies_autopsyio_dataset.csv")
df_autopsy.head(5)

,Date_of_Failure,Startup,Idea,Reason_for_Failure,Full_Story,Founder,Startup_link,Full_story_link,Founder_link
0,July 2018,Oratio,Oratio helps businesses to connect with their ...,Too much dependency on other platforms,From hero to zeroâ€Šâ€”â€Šclosing my 3rd startup,@pichsenmeister,https://www.crunchbase.com/organization/orat-io,https://medium.com/@pichsenmeister/from-hero-t...,https://twitter.com/pichsenmeister?source=user...
1,May 2018,Knowmads.capetown,Leadership programmes,Legal and Financial constraints,Thanks for being my first,NaN,NaN,http://www.knowmads.capetown/uncategorized/tha...,NaN
2,March 2018,Shyp,Provides shipping services that ranges from pi...,Wrong target audience,I Canâ€™t Wait for You to See What We Do Next by...,@kevingibbon,https://www.crunchbase.com/organization/shyp,https://www.linkedin.com/pulse/i-cant-wait-you...,https://twitter.com/kevingibbon
3,January 2018,Kaitek,Kaitek developed bacterial sensors for food sa...,Technology couldn't scale properly,An autopsy for my first startup,@emiliadiazCL,https://www.crunchbase.com/organization/kaitek...,https://emiliadiaz.cl/2018/01/22/kaitek-post-m...,https://twitter.com/EmiliaDiazCL
4,January 2018,Pepup World,Connecting local retail shops with nearby cust...,Market in India was not ready,Case study on Pepupworld.com,NaN,NaN,http://www.shutups.in/Pepupworld.aspx,NaN

In [45]:
df_autopsy_cleaned = pd.DataFrame(df_autopsy[['Startup', 'Idea', 'Startup_link' ]])
df_autopsy_cleaned

,Startup,Idea,Startup_link
0,Oratio,Oratio helps businesses to connect with their ...,https://www.crunchbase.com/organization/orat-io
1,Knowmads.capetown,Leadership programmes,NaN
2,Shyp,Provides shipping services that ranges from pi...,https://www.crunchbase.com/organization/shyp
3,Kaitek,Kaitek developed bacterial sensors for food sa...,https://www.crunchbase.com/organization/kaitek...
4,Pepup World,Connecting local retail shops with nearby cust...,NaN
...,...,...,...
157,Nouncer,micro-blogging service,https://www.crunchbase.com/organization/nouncer
158,Backfence,create hyper-local community sites,https://www.crunchbase.com/organization/backfence
159,Bitpass,Online micropayments,https://www.crunchbase.com/organization/bitpass
160,Cryptine,information security services,https://www.crunchbase.com/organization/crypti...
161,Boo.com,High End Sportwear e-tailer,https://www.crunchbase.com/organization/boo-co...

In [46]:
# the "Startup_link" contains information of the startup that can help fill other missing features! like location, number of employees, etc.
df_autopsy_cleaned['start_date'] = np.nan
df_autopsy_cleaned['location'] = np.nan
df_autopsy_cleaned['status'] = 'Failed'
df_autopsy_cleaned['number_employees'] = np.nan
df_autopsy_cleaned['operating_years'] = np.nan
df_autopsy_cleaned['latest_funding_round'] = np.nan
df_autopsy_cleaned['website_status'] = np.nan
df_autopsy_cleaned.drop(columns = ['Startup_link'], inplace = True)
df_autopsy_cleaned.rename(columns={
    'Startup': 'name',
    'Idea': 'idea'}, inplace=True)
df_autopsy_cleaned

,name,idea,start_date,location,status,number_employees,operating_years,latest_funding_round,website_status
0,Oratio,Oratio helps businesses to connect with their ...,NaN,NaN,Failed,NaN,NaN,NaN,NaN
1,Knowmads.capetown,Leadership programmes,NaN,NaN,Failed,NaN,NaN,NaN,NaN
2,Shyp,Provides shipping services that ranges from pi...,NaN,NaN,Failed,NaN,NaN,NaN,NaN
3,Kaitek,Kaitek developed bacterial sensors for food sa...,NaN,NaN,Failed,NaN,NaN,NaN,NaN
4,Pepup World,Connecting local retail shops with nearby cust...,NaN,NaN,Failed,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
157,Nouncer,micro-blogging service,NaN,NaN,Failed,NaN,NaN,NaN,NaN
158,Backfence,create hyper-local community sites,NaN,NaN,Failed,NaN,NaN,NaN,NaN
159,Bitpass,Online micropayments,NaN,NaN,Failed,NaN,NaN,NaN,NaN
160,Cryptine,information security services,NaN,NaN,Failed,NaN,NaN,NaN,NaN
161,Boo.com,High End Sportwear e-tailer,NaN,NaN,Failed,NaN,NaN,NaN,NaN

## Cleaning Failory's Startup Cemetery (failed startups) dataset

In [76]:
df_cemetery = pd.read_csv("../../../Task 4 - Data Collection/Datasets for Baseline Model/failory_startup_cemetery_data/failory_cemetery_failedstartups.csv")
df_cemetery.head(5)

,failed_startup,short_description,category,country,year_start,year_closed,outcome,cause,num_founders,name_founders,num_employees,num_funding_rounds,total_funding_amount,num_investors,full_description,full_failure_cause
0,RoomsTonite,Last-minute hotel booking provider,Travel,India,2014,2017,Bankruptcy,Lack of Funds,1,Suresh John,100-250,1,$1.5M,4,RoomsTonite was a last-minute hotel booking ap...,The company had announced to have raised $1.5 ...
1,Rafter,Textbook and course material provider for schools,Education,United States,2006,2016,Acquired,Competition,1,Sara Leoni,50-100,7,$86M,7,Rafter was a textbook and course material prov...,Rafter had much competition from the start and...
2,Sharingear,Marketplace for musicians to rent their instru...,Music,Denmark,2014,2015,Shut Down,Multiple Reasons,1,Mircea Gabriel Eftemie,10-Jan,1,â‚¬15K,2,Sharinger was a peer to peer musical gear shar...,One of the fundamental reasons the companyâ€™s C...
3,Skully,Augmented reality motorcycle helmets,Transportation,United States,2013,2016,Shut Down,Mismanagement of Funds,1,"Marcus Weller, Mitch Weller",Oct-50,4,$15M,13,Skully is a helmet trademark which targets mot...,According to Skully spokespeople they had to c...
4,Wantful,Online gift-giving service,e-Commerce,United States,2011,2013,Shut Down,Competition,1,John Poisson,"10,000",1,$5.5M,8,Wantful was an e-Commerce platform founded in ...,After experiencing a brief phase of exponentia...

In [77]:
df_cemetery_cleaned = pd.DataFrame(df_cemetery[['failed_startup', 'full_description', 'year_start', 'country', 'year_closed', 'outcome', 'num_employees', 'num_funding_rounds', ]])
df_cemetery_cleaned

,failed_startup,full_description,year_start,country,year_closed,outcome,num_employees,num_funding_rounds
0,RoomsTonite,RoomsTonite was a last-minute hotel booking ap...,2014,India,2017,Bankruptcy,100-250,1
1,Rafter,Rafter was a textbook and course material prov...,2006,United States,2016,Acquired,50-100,7
2,Sharingear,Sharinger was a peer to peer musical gear shar...,2014,Denmark,2015,Shut Down,10-Jan,1
3,Skully,Skully is a helmet trademark which targets mot...,2013,United States,2016,Shut Down,Oct-50,4
4,Wantful,Wantful was an e-Commerce platform founded in ...,2011,United States,2013,Shut Down,"10,000",1
...,...,...,...,...,...,...,...,...
120,Fab,Fab is a former e-commerce company which start...,2009,United States,2013,Acquired,"500-1,000",11
121,Dopplr,Dopplr was a social travel network service. Wi...,2007,United States,Active,Shut Down,10-Jan,3
122,Shipitwise,ShipItWise started out as a way of giving an i...,2016,Estonia,2019,Acquired,10-Jan,5
123,ArsDigita,ArsDigita was a Massachusetts based Web Develo...,1997,United States,2002,Shut Down,50-100,1
124,MySpace,MySpace was originally launched as a side proj...,2003,United States,Active,Still Active,250-500,1

In [78]:
#df_cemetery_cleaned = pd.DataFrame(df_cemetery_cleaned[~df_cemetery_cleaned['num_employees'].str.contains('[a-z]')])
df_cemetery_cleaned['year_closed'] = df_cemetery_cleaned.apply(lambda x: '2020' if x['year_closed'] == 'Active' else x['year_closed'], axis=1)
df_cemetery_cleaned['operating_years'] = df_cemetery_cleaned['year_closed'].astype(int) - df_cemetery_cleaned['year_start'].astype(int)
df_cemetery_cleaned['website_status'] = np.nan
df_cemetery_cleaned.drop(columns = ['year_closed'], inplace = True)
df_cemetery_cleaned.rename(columns={
    'failed_startup': 'name',
    'full_description': 'idea',
    'year_start': 'start_date',
    'country': 'location',
    'outcome': 'status',
    'num_employees': 'number_employees',
    'num_funding_rounds': 'latest_funding_round'
}, inplace=True)
df_cemetery_cleaned

,name,idea,start_date,location,status,number_employees,latest_funding_round,operating_years,website_status
0,RoomsTonite,RoomsTonite was a last-minute hotel booking ap...,2014,India,Bankruptcy,100-250,1,3,NaN
1,Rafter,Rafter was a textbook and course material prov...,2006,United States,Acquired,50-100,7,10,NaN
2,Sharingear,Sharinger was a peer to peer musical gear shar...,2014,Denmark,Shut Down,10-Jan,1,1,NaN
3,Skully,Skully is a helmet trademark which targets mot...,2013,United States,Shut Down,Oct-50,4,3,NaN
4,Wantful,Wantful was an e-Commerce platform founded in ...,2011,United States,Shut Down,"10,000",1,2,NaN
...,...,...,...,...,...,...,...,...,...
120,Fab,Fab is a former e-commerce company which start...,2009,United States,Acquired,"500-1,000",11,4,NaN
121,Dopplr,Dopplr was a social travel network service. Wi...,2007,United States,Shut Down,10-Jan,3,13,NaN
122,Shipitwise,ShipItWise started out as a way of giving an i...,2016,Estonia,Acquired,10-Jan,5,3,NaN
123,ArsDigita,ArsDigita was a Massachusetts based Web Develo...,1997,United States,Shut Down,50-100,1,5,NaN
124,MySpace,MySpace was originally launched as a side proj...,2003,United States,Still Active,250-500,1,17,NaN

## Cleaning 808 companies dataset

In [50]:
df_808companies = pd.read_csv("../../../Task 4 - Data Collection/AngelList/808 companies_2018.csv")
df_808companies.head(5)

,name,desc,website,location,employees,raised,angel_url,angel_id
0,Magnar,Portuguese food-ordering marketplace,https://angel.co/magnar,Lisbon,-,-,http://www.magnarapp.com/,3322647
1,Cleargraph,Zero-friction identity verification,https://angel.co/cleargraphinc,San Francisco,1-10,-,https://cleargraph.com/careers.html,3405248
2,Princeton Ventures,Princeton Ventures leads growth equity investm...,https://angel.co/princeton-ventures,Princeton,1-10,-,http://www.princetonventures.com,3365754
3,Kylie.ai,Kylie Leverages AI to Clone Enterprise Support...,https://angel.co/kylieai,San Francisco,1-10,-,http://www.kylie.ai,3399236
4,Vertical AI,Advanced Computer Vision and AI for Augmented ...,https://angel.co/verticalai,Kitchener,1-10,"$1,500,000",http://vertical.ai,458987

In [51]:
df_808companies_cleaned = pd.DataFrame(df_808companies[['name', 'desc', 'location', 'employees' ]])
df_808companies_cleaned

,name,desc,location,employees
0,Magnar,Portuguese food-ordering marketplace,Lisbon,-
1,Cleargraph,Zero-friction identity verification,San Francisco,1-10
2,Princeton Ventures,Princeton Ventures leads growth equity investm...,Princeton,1-10
3,Kylie.ai,Kylie Leverages AI to Clone Enterprise Support...,San Francisco,1-10
4,Vertical AI,Advanced Computer Vision and AI for Augmented ...,Kitchener,1-10
...,...,...,...,...
803,Voicegem,Asynchronous voice communication,Sunnyvale,1-10
804,Bitnami,"Easy to use cloud images, containers, and VMs ...",San Francisco,51-200
805,Swipp,Swipp Turns Social Media Into Leads and Sales.,Mountain View,11-50
806,Famous.AF / Stolen,Be the biggest fan of your favorite people on ...,San Francisco,11-50
807,Tiger Global,International private equity investor,New York City,-

In [52]:
df_808companies_cleaned = pd.DataFrame(df_808companies_cleaned[(df_808companies_cleaned['employees'] != '-') | (df_808companies_cleaned['employees'].isna())])
df_808companies_cleaned = pd.DataFrame(df_808companies_cleaned[(df_808companies_cleaned['desc'] != '-') | (df_808companies_cleaned['desc'].isna())])
df_808companies_cleaned['start_date'] = np.nan
df_808companies_cleaned['status'] = np.nan
df_808companies_cleaned['latest_funding_round'] = np.nan
df_808companies_cleaned['operating_years'] = np.nan
df_808companies_cleaned['website_status'] = np.nan
df_808companies_cleaned.rename(columns={
    'desc': 'idea',
    'employees': 'number_employees'}, inplace=True)
df_808companies_cleaned

,name,idea,location,number_employees,start_date,status,latest_funding_round,operating_years,website_status
1,Cleargraph,Zero-friction identity verification,San Francisco,1-10,NaN,NaN,NaN,NaN,NaN
2,Princeton Ventures,Princeton Ventures leads growth equity investm...,Princeton,1-10,NaN,NaN,NaN,NaN,NaN
3,Kylie.ai,Kylie Leverages AI to Clone Enterprise Support...,San Francisco,1-10,NaN,NaN,NaN,NaN,NaN
4,Vertical AI,Advanced Computer Vision and AI for Augmented ...,Kitchener,1-10,NaN,NaN,NaN,NaN,NaN
5,IFTTT,Do more with the services you love,San Francisco,11-50,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
802,Tugboat Yards,"Tools to help grow, manage, monetize and retai...",Half Moon Bay,1-10,NaN,NaN,NaN,NaN,NaN
803,Voicegem,Asynchronous voice communication,Sunnyvale,1-10,NaN,NaN,NaN,NaN,NaN
804,Bitnami,"Easy to use cloud images, containers, and VMs ...",San Francisco,51-200,NaN,NaN,NaN,NaN,NaN
805,Swipp,Swipp Turns Social Media Into Leads and Sales.,Mountain View,11-50,NaN,NaN,NaN,NaN,NaN
806,Famous.AF / Stolen,Be the biggest fan of your favorite people on ...,San Francisco,11-50,NaN,NaN,NaN,NaN,NaN

# Stacking all datasets

In [53]:
print(sorted(df_linkedin_cleaned.columns))
print(sorted(df_startuptracker_cleaned.columns))
print(sorted(df_autopsy_cleaned.columns))
print(sorted(df_cemetery_cleaned.columns))
print(sorted(df_808companies_cleaned.columns))
print(len(df_linkedin_cleaned))
print(len(df_startuptracker_cleaned))
print(len(df_autopsy_cleaned))
print(len(df_cemetery_cleaned))
print(len(df_808companies_cleaned))


COLUMNS = ['name', 'idea', 'location', 'start_date', 'operating_years', 'number_employees', 'status', 'latest_funding_round']

['idea', 'latest_funding_round', 'location', 'name', 'number_employees', 'operating_years', 'start_date', 'status', 'website_status']
['idea', 'latest_funding_round', 'location', 'name', 'number_employees', 'operating_years', 'start_date', 'status', 'website_status']
['idea', 'latest_funding_round', 'location', 'name', 'number_employees', 'operating_years', 'start_date', 'status', 'website_status']
['idea', 'latest_funding_round', 'location', 'name', 'number_employees', 'operating_years', 'start_date', 'status', 'website_status']
['idea', 'latest_funding_round', 'location', 'name', 'number_employees', 'operating_years', 'start_date', 'status', 'website_status']
124
638
162
125
718

In [57]:
df_final = pd.concat([df_linkedin_cleaned[COLUMNS],
                      df_startuptracker_cleaned[COLUMNS],
                      df_autopsy_cleaned[COLUMNS],
                      df_cemetery_cleaned[COLUMNS],
                      df_808companies_cleaned[COLUMNS]], axis = 0, ignore_index=True)
df_final

,name,idea,location,start_date,operating_years,number_employees,status,latest_funding_round
0,Careem,Careem is an app-based platform for ride-haili...,Dubai United Arab Emirates,2012,7.0,NaN,Acquired,NaN
1,AliExchange,Cryptocurrency exchange platform,Tallinn Estonia,2018,1.0,NaN,Acquired,NaN
2,BIGO,Bigo is a video-based social media platform an...,Singapore Singapore,2014,5.0,NaN,Acquired,NaN
3,Getnet,Getnet offers mPOS software and hardware solut...,Sao Paulo\nPorto Alegre Brazil\nBrazil,2013,1.0,NaN,Acquired,NaN
4,Lazada,Lazada is an online retailer offering multi-ca...,Singapore Singapore,2012,4.0,NaN,Acquired,NaN
...,...,...,...,...,...,...,...,...
1762,Tugboat Yards,"Tools to help grow, manage, monetize and retai...",Half Moon Bay,NaN,NaN,1-10,NaN,NaN
1763,Voicegem,Asynchronous voice communication,Sunnyvale,NaN,NaN,1-10,NaN,NaN
1764,Bitnami,"Easy to use cloud images, containers, and VMs ...",San Francisco,NaN,NaN,51-200,NaN,NaN
1765,Swipp,Swipp Turns Social Media Into Leads and Sales.,Mountain View,NaN,NaN,11-50,NaN,NaN
1766,Famous.AF / Stolen,Be the biggest fan of your favorite people on ...,San Francisco,NaN,NaN,11-50,NaN,NaN

In [58]:
# Dropping duplicates
df_final.drop_duplicates(subset=COLUMNS, inplace = True)
df_final

,name,idea,location,start_date,operating_years,number_employees,status,latest_funding_round
0,Careem,Careem is an app-based platform for ride-haili...,Dubai United Arab Emirates,2012,7.0,NaN,Acquired,NaN
1,AliExchange,Cryptocurrency exchange platform,Tallinn Estonia,2018,1.0,NaN,Acquired,NaN
2,BIGO,Bigo is a video-based social media platform an...,Singapore Singapore,2014,5.0,NaN,Acquired,NaN
3,Getnet,Getnet offers mPOS software and hardware solut...,Sao Paulo\nPorto Alegre Brazil\nBrazil,2013,1.0,NaN,Acquired,NaN
4,Lazada,Lazada is an online retailer offering multi-ca...,Singapore Singapore,2012,4.0,NaN,Acquired,NaN
...,...,...,...,...,...,...,...,...
1551,Gravity Group (previously Dil Mil),Fastest growing high-affinity dating platform,San Francisco,NaN,NaN,1-10,NaN,NaN
1552,Castle Global,Rethinking products with machine learning.,San Francisco,NaN,NaN,11-50,NaN,NaN
1553,DataHero,The fastest easiest way to understand your data,Santa Monica,NaN,NaN,1-10,NaN,NaN
1558,SilverPush,Redefining TV Advertising,Gurgaon,NaN,NaN,51-200,NaN,NaN
1560,PillPack,PillPack is a full service pharmacy that deliv...,-,NaN,NaN,NaN,NaN,NaN

In [59]:
# See if there are duplicates by name
df_final.drop_duplicates(subset='name')

,name,idea,location,start_date,operating_years,number_employees,status,latest_funding_round
0,Careem,Careem is an app-based platform for ride-haili...,Dubai United Arab Emirates,2012,7.0,NaN,Acquired,NaN
1,AliExchange,Cryptocurrency exchange platform,Tallinn Estonia,2018,1.0,NaN,Acquired,NaN
2,BIGO,Bigo is a video-based social media platform an...,Singapore Singapore,2014,5.0,NaN,Acquired,NaN
3,Getnet,Getnet offers mPOS software and hardware solut...,Sao Paulo\nPorto Alegre Brazil\nBrazil,2013,1.0,NaN,Acquired,NaN
4,Lazada,Lazada is an online retailer offering multi-ca...,Singapore Singapore,2012,4.0,NaN,Acquired,NaN
...,...,...,...,...,...,...,...,...
1551,Gravity Group (previously Dil Mil),Fastest growing high-affinity dating platform,San Francisco,NaN,NaN,1-10,NaN,NaN
1552,Castle Global,Rethinking products with machine learning.,San Francisco,NaN,NaN,11-50,NaN,NaN
1553,DataHero,The fastest easiest way to understand your data,Santa Monica,NaN,NaN,1-10,NaN,NaN
1558,SilverPush,Redefining TV Advertising,Gurgaon,NaN,NaN,51-200,NaN,NaN
1560,PillPack,PillPack is a full service pharmacy that deliv...,-,NaN,NaN,NaN,NaN,NaN

In [61]:
df_final['name'].value_counts()

Yik Yak        2
Shipbeat       2
SpoonRocket    2
Flowtab        2
RewardMe       2
              ..
Emjoyment      1
Kinly          1
'COGZ'         1
Stedi          1
Circa          1
Name: name, Length: 1498, dtype: int64

In [67]:
list(df_final[df_final['name'] == 'Flowtab']['idea'])  # Seems like data taken at a different point, the second description looks more mature. So will left as it is.

['app to order and pay for drinks at a bar or nightclub',
 "Flowtab was a mobile app that wanted to use technology to solve the problem of long queues in bars and hospitality venues. Flowtab created an app that would show users a list of drinks they could order from their mobiles without having to wait for the bartender to take their order. The app was connected to the bar's iPad which would then sync the orders to the POS terminal of the bar and payments would be are sent to the bar's bank account."]

In [65]:
# Exporting csv
df_final.to_csv('merged_dataset-idea_location_startdate.csv', index=False)