In [3]:
%pip install tensorflow

Requirement already satisfied: tensorflow in /home/karem/anaconda3/lib/python3.7/site-packages (2.3.1)
Requirement already satisfied: grpcio>=1.8.6 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.29.0)
Requirement already satisfied: absl-py>=0.7.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.8.1)
Requirement already satisfied: termcolor>=1.1.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wheel>=0.26 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.33.1)
Requirement already satisfied: gast==0.3.3 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.3.3)
Requirement already satisfied: six>=1.12.0 in /home/karem/.local/lib/python3.7/site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.2.0)
Requirement already satisfied: protobuf>=3.9.2 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.11.2)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: tensorboard<3,>=2.3.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.3.0)
Collecting numpy<1.19.0,>=1.16.0
  Downloading numpy-1.18.5-cp37-cp37m-manylinux1_x86_64.whl (20.1 MB)
     |████████████████████████████████| 20.1 MB 74 kB/s
Requirement already satisfied: google-pasta>=0.1.8 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.1.8)
Requirement already satisfied: astunparse==1.6.3 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: wrapt>=1.11.1 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.11.1)
Requirement already satisfied: setuptools in /home/karem/.local/lib/python3.7/site-packages (from protobuf>=3.9.2->tensorflow) (53.0.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.7.0)
Requirement already satisfied: markdown>=2.6.8 in /home/karem/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (3.1.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /home/karem/.local/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.26.0)
Requirement already satisfied: requests<3,>=2.21.0 in /home/karem/.local/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.25.1)
Requirement already satisfied: werkzeug>=0.11.15 in /home/karem/.local/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /home/karem/.local/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow) (0.4.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/karem/.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /home/karem/.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.7)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/karem/.local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/karem/.local/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/karem/.local/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/karem/.local/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (1.26.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/karem/.local/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (4.0.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/karem/.local/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /home/karem/.local/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /home/karem/.local/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.4
    Uninstalling numpy-1.19.4:
      Successfully uninstalled numpy-1.19.4
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

-ensorflow 2.0.0 requires gast==0.2.2, but you'll have gast 0.3.3 which is incompatible.
-ensorflow 2.0.0 requires tensorboard<2.1.0,>=2.0.0, but you'll have tensorboard 2.3.0 which is incompatible.
-ensorflow 2.0.0 requires tensorflow-estimator<2.1.0,>=2.0.0, but you'll have tensorflow-estimator 2.3.0 which is incompatible.
resume-parser 0.6 requires numpy>=1.19.1, but you'll have numpy 1.18.5 which is incompatible.
Successfully installed numpy-1.18.5
WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/karem/anaconda3/bin/python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
import tensorflow as tf 
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
from copy import deepcopy

In [2]:
df = pd.read_csv('../task-11-Data-Cleaning/CLean Data/Seedstars_dataset_EDA_v0.csv', sep=";")

# Multivariate analysis 
## Country

In [10]:
df['country'].unique()

array(['Uzbekistan', 'China', 'Mozambique', 'Argentina', 'Bangladesh',
       'Indonesia', 'Iran', 'Australia', 'Kazakhstan', 'Malaysia',
       'Vietnam', 'Guatemala', 'Philippines', 'Poland', 'Nigeria',
       'Rwanda', 'Lebanon', 'Uganda', 'Ukraine', 'Senegal', 'Myanmar',
       'Jordan', 'Armenia', 'Malawi', 'South Africa', 'Egypt',
       'Singapore', 'India', 'Ecuador', 'Peru', 'Hong Kong', 'Estonia',
       'Iraq', 'Uruguay', 'Ethiopia', 'Kenya', 'Taiwan', 'Czech Republic',
       'United States', 'Colombia', 'Bulgaria', 'Serbia', 'Panama',
       'Palestine', 'Thailand', 'Brazil', 'Botswana', 'Pakistan',
       'Algeria', 'Gambia', "Cote d'Ivoire", 'Mali', 'Zimbabwe',
       'Tunisia', 'Democratic Republic of Congo', 'Ghana', 'Tanzania',
       'Switzerland', 'Morocco', 'Cameroon', 'Sierra Leone', 'Chile',
       'Latvia', 'Mexico', 'Turkey', 'Russia', 'Bahrain', 'Saudi Arabia',
       'Sri Lanka', 'United Arab Emirates', 'Bolivia', 'Azerbaijan',
       'South Korea', 'Libya', 'Austria', 'Mongolia',
       'Dominican Republic', 'Jamaica', 'United Kingdom', 'Croatia',
       'Japan', 'Venezuela', 'Angola', 'Romania', 'Puerto Rico', 'Zambia',
       'Costa Rica', 'Georgia', 'Paraguay', 'Namibia', 'Mauritius',
       'Netherlands', 'Guinea-Bissau', 'Moldova', 'Nepal', 'Kuwait',
       'Cabo Verde', 'Qatar', 'Ireland', 'Cambodia', 'Belarus', 'Denmark',
       'Luxembourg', 'Fiji', 'Oman', 'Lesotho', 'France', 'Israel',
       'Canada', 'Papua New Guinea', 'Benin', 'Samoa', 'Finland'],
      dtype=object)

## Industry

In [24]:
df['industry'].unique()

array(['Consumer', 'Travel and Transport', 'Financial Services',
       'Enterprise', 'HR', 'Industrial / Energy / Clean Tech', 'Tech',
       'Social Networking and Collaboration', 'Health / Wellness',
       'Education', 'Retail', 'Advertising and Marketing', 'Sports',
       'HighTech / NanoTech / Materials', 'Other', 'ICT / Telcom',
       'Audio and Media', 'Gaming / Entertainment', 'Agri: Agri Tech',
       'Food and Beverage', 'Security', 'Automotive', 'Real Estate',
       'Professional Services', 'Urban Development', 'Aerospace',
       'Ecosystem enabler', 'Government'], dtype=object)

In [21]:
df['industry'].value_counts()

Consumer                               533
Other                                  474
Financial Services                     441
Enterprise                             427
Health / Wellness                      351
Education                              331
Travel and Transport                   260
Advertising and Marketing              187
Industrial / Energy / Clean Tech       171
Agri: Agri Tech                        156
Social Networking and Collaboration    123
HR                                     122
Gaming / Entertainment                 111
Food and Beverage                       91
HighTech / NanoTech / Materials         78
Tech                                    59
Real Estate                             59
Retail                                  53
Audio and Media                         50
ICT / Telcom                            46
Sports                                  37
Security                                22
Aerospace                               17
Automotive                              15
Professional Services                   12
Ecosystem enabler                        9
Urban Development                        8
Government                               1
Name: industry, dtype: int64

In [8]:
df['industry'].replace(to_replace=['Financial Services: Fin Tech','Finance'],value='Financial Services',inplace=True)

In [10]:
df['industry'].replace(to_replace=['Health: Health Tech','MedTech / BioTech'],value='Health / Wellness',inplace=True)

In [12]:
df['industry'].replace(to_replace='Education: Ed Tech',value='Education',inplace=True)

In [14]:
df['industry'].replace(to_replace=['Enterprise Services','Enterprise Products'],value='Enterprise',inplace=True)

In [16]:
df['industry'].replace(to_replace=['Consumer Services','Consumer Products','Consumer Goods'],value='Consumer',inplace=True)

In [20]:
df['industry'].replace(to_replace='Media',value='Audio and Media',inplace=True)

## Business stage

In [25]:
df['business_stage'].unique()

array(['Revenue Stage', 'Development Stage', 'Beta Testing Stage',
       'Pre-Revenue Stage', 'Expansion Stage', 'Other', 'Idea Stage',
       'Acquired', 'Dead'], dtype=object)

In [27]:
df['business_stage'].value_counts()

Revenue Stage         1119
Pre-Revenue Stage      953
Other                  685
Beta Testing Stage     657
Development Stage      506
Expansion Stage        270
Idea Stage              52
Dead                     1
Acquired                 1
Name: business_stage, dtype: int64

In [29]:
df.drop(df[df['business_stage'] =='Dead'].index, inplace = True)

In [30]:
df.drop(df[df['business_stage'] =='Acquired'].index, inplace = True)

## Incorporated

In [33]:
df['incorporated'].unique()

array([0., 1.])

## Incorporation date

In [44]:
df['incorporation_date'].value_counts()

8     1091
7      683
6      579
9      548
5      472
4      342
10     254
3      180
2       55
1       17
0        6
11       3
Name: incorporation_date, dtype: int64

In [39]:
df.drop(df[df['incorporation_date'] < 2009].index, inplace = True)

In [43]:
df['incorporation_date'] = df['incorporation_date'].apply(lambda x: x - 2009)

## Number of team members

In [47]:
df['Number of team members'].value_counts()

2.0     1513
3.0      929
1.0      780
4.0      500
5.0      236
6.0      114
7.0       69
8.0       35
9.0       20
10.0      13
11.0       6
13.0       3
14.0       3
16.0       3
15.0       2
12.0       2
17.0       2
Name: Number of team members, dtype: int64

In [71]:
df.keys()

Index(['Unnamed: 0', 'company_id', 'country', 'industry', 'business_stage',
       'incorporated', 'incorporation_date', 'Number of team members',
       'accelerator', 'amount_to_raise', 'funding at the time of application',
       'number_employees', 'revenue_1month', 'revenue_2month',
       'revenue_3month', 'users_1month', 'users_2month', 'users_3month',
       'paying_users_1month', 'paying_users_2month', 'paying_users_3month',
       'number_transactions_1month', 'number_transactions_2month',
       'number_transactions_3month', 'burn_rate', 'number of competitors',
       'role_0', 'gender_0', 'country_0', 'role_1', 'gender_1', 'company_logo',
       'Funding before Seedstars', 'Total Funding', 'FUNDED',
       'status_of_funding_AMOUNT', 'status_of_funding_STATUS',
       'website_active', 'lat', 'lon', 'year_incorporated', 'year_segment',
       'revenue_model_commission_Imputed', 'revenue_model_product_Imputed',
       'revenue_model_on-demand_Imputed', 'revenue_model_subscription_Imputed',
       'revenue_model_freemium_Imputed', 'revenue_model_advertising_Imputed',
       'revenue_model_licensing_Imputed',
       'customer_type - B-to-B-to-C_Imputed', 'customer_type - B-to-B_Imputed',
       'customer_type - B-to-C_Imputed', 'customer_type - B-to-G_Imputed',
       'percent_increase_in_revenue', 'percent_increase_in_users'],
      dtype='object')

In [76]:
df['role_0'].unique()

array(['Founder', 'CEO', 'R&D', 'CMO', 'CFO', 'Founder, CEO', 'Other',
       'SMM&User Acquisition', 'CEO & Co-Founder', 'CEO and Founder',
       'CTO', 'CEO & Founder', 'Marketing Manager', 'Co-founder,',
       'Co-Founder', 'Co-Founder, CEO', 'Operation Director',
       'CEO/Co-founder', 'Chairman', 'Director',
       'Chief Executive Officer & Co-Founder', 'Developer and programmer',
       'Co-founder', 'Alex Macbeth, Head of Strategy & Content',
       'Developer', 'Business Analyst', 'Creative Director/ Co-CEO',
       'Software Engineer', 'Co-Founder & Dev', 'System Analyst and P',
       'C', 'Founder / Android En', 'Head of Finance', 'Founder and CEO',
       'Co-Founder and Full', 'Founder, Mobile & We',
       'CEO & Happiness Offi', 'Head of Product', 'COO', 'Fundador & CEO',
       'Co-Founder & CFO', 'CEO, Founder, Produc', 'Gerente',
       'Co-Founder & Product Manager', 'Technical director',
       'CEO / Founder', 'CTO - Cofounder', 'Creative, Voice.', 'Founders',
       'Operation Officer', 'Java Engineer', 'Technical Lead',
       'Co-Founder & COO', 'Fundador CTO', 'Co-Founder & CMO',
       'Founder & Operations Manager', 'CFO & COO',
       'Administrator & co-f', 'Director Comercial', 'Sales Director',
       'Founder & CEO', 'Co-founder & CEO', 'Managing Director',
       'Head of Growth', 'Co-Founder (tech)', 'Founder and Ceo',
       'Head of Business Development', 'CTO & Co-Founder',
       'Co-Founder and CEO', 'Co-Founder & CEO', 'Head Of Operations',
       'Business Lead', 'co-founders', 'VP of Product',
       'Chief of Product & Strategy', 'co-founder', 'CBDO',
       'Product Manager', 'Strategic Analyst Officer', 'shiraz iran',
       'Founder & business manager', 'UI/UX & Operational', 'ceo',
       'marketing and content producing', 'executive director',
       'Co-founder and CEO', 'Growth', 'CEO-CTO', 'Business Developer',
       'CMO & Co-Founder', 'Founder / CMO', 'co-Founder / CEO',
       'CEO / Co-Founder', 'Co-Founder/Marketing', 'CEO & developer',
       'Business Development Director', 'Sales manager',
       'Founder, Marketing coordinator', 'CTO / Founder',
       'Brand Communication Director', 'CEO, Founder', 'Consultant',
       'Founder & CEO+CTO', 'Chief Executive Officer',
       'Compliance Officer', 'Operations Director', 'Co-founder, CEO',
       'Investor Relations Manager', 'CEO/Founder',
       'Business Development Lead', 'Cofounder, CEO', 'Founder & CPO',
       'Founder - CEO', 'CSO & Co-Founder', 'assistant to chairman',
       'Product Marketing', 'President', 'Investor & Advisor',
       'CEO - Founder', 'CEO & CTO', 'Cofounder', 'Partner',
       'Head of Business Development and Partnerships', 'CEO/Co-Founder',
       'CEO, CTO', 'Business Development', 'Co-founder / CTO',
       'CEO - Products/Custo', 'Co-founder, Operatio', 'Founder/CTO',
       'Cofounder/COO', 'Business Manager', 'COO/CTO', 'Founder/CEO',
       'founder', 'Managing Director / CTO', 'Brand & Operations',
       'CEO / Team Lead', 'Chief Executive Officer (CEO)',
       'CPO & Founder', 'CEO & Co-founder', 'Managing  Director',
       'Founder&CEO', 'Only Founder and CEO',
       'Co-founder and managing director', 'Assistant Public Relations',
       'CEO & Creative Direc', 'Co-Founder & Managing Director',
       'IT director', 'Technical Officer', 'Founder,MD & CTO',
       'Co-Founder and COO', 'CEO and Cofounder', 'Managing director',
       'CIO', 'Lead Hiker', 'Co-Founder, Product', 'CEF', 'Owner',
       'Managing Partner', 'cofounder', 'Economist', 'Founder & Director',
       'C.E.O', 'Co Founder &Head Strategic Partnerships',
       'CEO-HR & Admin', 'Lead developer', 'CEO/Marketing Lead',
       'COO & Co-Founder', 'Operations Manager', 'Reporter',
       'promotions manager', 'CFO and COO', 'Project Manager',
       'CEO, founder', 'Communications, Investor Relations',
       'Founder, dev lead.', 'PM', 'CEO, co-founder', 'product manager',
       'CEO/CTO', 'CEO / Co-founder', 'CMO/HR', 'CEO, Co-founder',
       'CEO&Founder', 'Co-founder, Business development', 'CCO',
       'Manager-R&D', 'CEO.', 'Directrice Marketing et Commerciale',
       'Marketing Support', 'Project Leader', 'General Manager',
       'Chief executive officer', 'Business development engineer',
       'Founder\\CEO', 'Lead Engineer', 'Co-CEO', 'CEO and designer',
       'CEO,CTO', 'Co-Founder/CEO', 'Content Marketing Sp',
       'Chief Marketing Officer', 'Front-end Developer',
       'Project Manager/ Business Development Specialist',
       'content management', 'Co-founder, Presiden', 'Founder / CEO',
       'CPO', 'Founder, Software En', 'Business Development Manager',
       'Marketing Director', 'Ops Manager',
       'Marketing Director & Co-Founder', 'Co-founder - CFO',
       'Head of Sales', 'CEO - Innovation Dir', 'Health Lead',
       'Head Designer', 'MD', 'Marketing & Business Manager',
       'Co-founder & co-director', 'Co-founder+Product', 'Operations',
       'Co-Founder, Visionary and Developer', 'COO & Founder',
       'Joint CEO', 'Founder (CTO)', 'Community Manager',
       'Co-founder & CCPO', 'Co-founder & CTO', 'Android Developer',
       'CoFounder & CEO', 'Growth Hacker', 'Hustler & Driver',
       'CEO and Co-founder', 'CFO & Co-Founder', 'Product Management,',
       'lead designer', 'Co-founder & CMO', 'Sales and Marketing',
       'Co founder', 'Director, Co-Founder', 'Executive Team Member',
       'Communications', 'Gerente General', 'CEO - CoFounder',
       'Co- Founder', 'CEO & Cofounder', 'Country Manager',
       'Business strategy', 'Chief Technology officer',
       'Chief Comercial Officer', 'CEO & co-founder',
       'Chief Business Developer', 'Digital Marketing', 'Doing business',
       'Buisness devlopment', 'project manager', 'UX, Cloud Architect',
       'Product designer', 'CMO & CO-FOUNDER', 'co-founder (CEO)',
       'CFO/Co-founder', 'Technical Manager', 'Founder & CCO',
       'Funder/Pro Mgr', 'Co-founder/CEO', 'Co-Fouder', 'founder / CEO',
       'Fonder and CEO', 'Cofounder & CEO', 'Founder, CTO',
       'CEO/System Analyst', 'Marketing & Sales Director', 'Founding CEO',
       'Marketing Planning', 'PM & UX designer', 'CBDO & Co-Founder',
       'Sales, Programming', 'CEO (Founder)', 'Co-Fo & CEO',
       'Data Analyst', 'Partnership Development & Events Manager',
       'CCO, cofounder', 'Legal & IR consultant',
       'Head of Communications', 'Senior Research Fellow',
       'Account Manager', 'Ceo', 'Chief Product Officer', 'CBDO/CMO',
       'Lider y Gestor de recursos Proyecto "Cultiv@r"', 'I&D Leader',
       'Dirección general y mercadeo', 'Founder and director',
       'Ejecutive Director', 'Project Director',
       'product development and advertising', 'Technology',
       'Strategy Manager', 'Executive Director',
       'Financial and administrative coordinator', 'researcher leader',
       'CEO y Fundador', 'Manager', 'Commercial Director', 'Leader',
       'Marketing & PR', 'Business development', 'sales/marketing',
       'Lead Business Developer', 'CEO/Programmer/Sales',
       'Senior Developer', 'CEOFOUNDERDEVELOPER', 'CEO - COO',
       'Chief Operations Officer', 'Co-Founder Sales&Mkt',
       'Founder, Product Design & Business Development',
       'CEO- Co Fundador', 'Founder / Director', 'Founder - Director',
       'Panther in Chief CEO', 'Software Developer',
       'Business Administrat', 'CEO | Ui/Ux Designer',
       'Director/UI/UX/Proje', 'Founder & Managing Director',
       'Associate Partner', 'Executive Assistant to the CEO',
       'Co Founder/CEO', 'coo', 'Legal Manager', 'Founder - CSO',
       'Head of Marketing', 'Fouder / CEO', 'director', 'VP',
       'Business Inteligencie', 'Sales and accounting', 'Founder and MD',
       'Co Founder And COO', 'CEO/ Lead Developer', 'Co Founder And CTO',
       'CEO/ designer', 'Projects Manager', 'Vice President',
       'CEO & Software Developer', 'Co-FoundHER', 'head to team',
       'DEVELOPER', 'business development', 'CEO & developer.',
       'devlopper', 'marketing manager', 'CEO/President',
       'CEO, head of Communication',
       'Co-Founder & Lead Designer/Developer',
       'Founder, Project Lead - Electrical studies, Partnership and Business Development',
       'Co Founder', 'CoFounder CEO', 'CEO, Marketing',
       'Communications Manager', 'Social Impact Officer', 'Founder/ CEO',
       'Business developer', 'Fonder , Ceo', 'CHIEF EXECUTIVE OFFICIER',
       'founder and manager', 'Ingenieur', 'Country Director - Mali',
       'Co-fondateur', 'Founder and Creative Director', 'co-Founder',
       'Founder and Managing Partner', 'Founder/COO', 'Finance Director',
       'Design the product', 'Head of farming operations',
       'CEO - Business Development', 'Founder et CEO',
       'Production Director', 'CEO and Co-Founder', 'C.E.O.',
       'Manager général', 'Founder / C.E.O', 'Lead developer & CEO',
       'Local Manager', 'Co-founder/ CEO', 'Communications Lead',
       'Chief Technology Officer', 'Technical Director',
       'Company founder & Projects and Operational Director',
       'Team Leader - Managi', 'Chief Executive Officer n',
       'Operations and company lead', 'Chief excutive Officer',
       'Design lead', 'Co- Founder & Chief Executive  Officer',
       'Team Lead & Founder', 'Secretary', 'CFO, Founding Partner',
       'VP Business Development', 'Founder and General Manager',
       'Founder & Chief Humanity Officer', 'Product and Strategy',
       'Social Media manager', 'Founder/Developer',
       'Sales & Marketing Manager', 'Founder - Manager',
       'CEO and Co Founder', 'Founder and Director',
       'Founder and manager', 'Associate Manager', 'General manager',
       'Co-Founder and Chief Executive Officer', 'EXECUTIVE DIRECTOR',
       'Founder / Software Team Lead', 'CID',
       'Founder - Technical Development', 'CEO Founder',
       'Cofounder - CEO', 'Co-founder; Operations and Sales',
       'Market developer', 'Co-Founder and Chairman', 'CEO & COO',
       'COO, Head of Product', 'CEO & Fundador', 'CEO & Co Founder',
       'Comercial Coordinator', 'Hustler',
       'Finance & Administration Director',
       'Director of Business Development LATAM',
       'Head of people & experience', 'Chief Operating Officer',
       'Chief Product and Operatings Officer',
       'Product & Finance Manager', 'CEO & FOUNDER',
       'Cofounder, Mktg & BD', 'CEO& Co-Founder', 'Partner- Marketing&S',
       'Founder & Android Dv', 'Teamlead', 'Co-founder, Head of Product',
       'Tech Guy', 'CMO & Co-founder', 'communications', 'founder, CBDO',
       'Creator', 'Business & Software Director', 'Product & Marketing',
       'Research Manager', 'IT Development', 'Customer Relations Manager',
       'Head of Marketing and communication', 'CTO & Founder',
       'founder & CEO', 'Waistrepreneur and Founder',
       'Marketing and Social Media Lead', 'Business Development manager',
       'Founder & Chief Entrepreneurial Officer', 'Co Founder, CEO',
       'Co -Founder/COO', 'Manager, Strategy & Business Development',
       'Co Founder Chief Executive Officer', 'Head of Operations',
       'Director Engineering', 'CEO/CTO/Dev', 'Inventor & Chairman',
       'Technology Head', 'Business Admin', 'CEO, partner',
       'Sales & PR Manager', 'Marketing', 'Hustler/Hipster',
       'direction of the com', 'Blockchain Strategist', 'CMO- Founder',
       'co-Founder and COO', 'CEO & founder', 'developer',
       'Software developer', 'Founder, developer', 'Founder/Director',
       'Founder & Designer', 'Founder / Chief Trav', 'operation&creator',
       'Co-Founder and CTO', 'CSO', 'co - founder',
       'General manager - 2d graphic designer',
       'Business development manager', 'Shareholder and CEO',
       'CEO, Co-Founder', 'Team leader', 'Ambassador',
       'Founder &Team Leader', 'CIO & Co-Founder', 'Founder CEO',
       'R&D Director', 'Project Manager(CEO)',
       'Business Development Director and Chief Privacy Officer',
       'Digital Marketer', 'Product Manager | Designer',
       'MANAGING DIRECTOR', 'Chief Commercial Office - Board Member',
       'Vice-Presidente', 'Responsável', 'Chief Communication Officer',
       'Marketing and Commercial Director', 'CEO Bilhetes Online Angola',
       'Partnerships Manager', 'Business Maestro', 'CEO/Manager',
       'Strategy', 'Founder and Chairman', 'Co-Founder & Developer',
       'Marketing & Product Manager/ Co-founder',
       'co-founder and business development', 'cofounder & UX',
       'Materials Engineer & Co-Founder', 'Teamworker',
       'Software Developer Lead', 'Chief Entrepreneur',
       'Executive Assistant', 'Co Founder and UI/UX', 'Chief',
       'CO-FOUNDER', 'Founder, Chief Executive Officer', 'CEO Co-founder',
       'Co-Founder / Business Development Officer',
       'Co-Founder & Brand Manager',
       'COO and product development coordinator', 'Co - Founder',
       'Ingener and Marketing Manager', 'Founder and Managing Director',
       'CTO , Developer', 'PR & Communications Officer',
       'co-founder/ CEO',
       'CEO, security architect, Full stack development',
       'Co-Founder/ Chief Executive Officer', 'Chief Innovation Officer',
       'Co-founder & COO', 'Creative director', 'Co-Founder & CTO',
       'Co-founder and Operations Manager', 'COO & CoFounder',
       'Technical Solutions'], dtype=object)

In [83]:
changed_list= []
for role in df['role_0']: 
    role= role.lower()
    if ('ceo' in role) or ('chief executive officer' in role): 
        role = 'CEO'
    elif ('cto' in role) or ('chief technical officer' in role): 
        role = 'CTO'
    elif ('coo' in role) or ('chief operative officer' in role): 
        role = 'COO'
    elif 'design' in role: 
        role= 'Desiner'
    elif ('marketing' in role) or ('cmo' in role): 
        role= 'Marketing'

    elif ('cfo' in role) or ('financ' in role): 
        role= 'Finance'

    changed_list.append(role)

In [86]:
testdf= deepcopy(df)

,Unnamed: 0,company_id,country,industry,business_stage,incorporated,incorporation_date,Number of team members,accelerator,amount_to_raise,...,revenue_model_subscription_Imputed,revenue_model_freemium_Imputed,revenue_model_advertising_Imputed,revenue_model_licensing_Imputed,customer_type - B-to-B-to-C_Imputed,customer_type - B-to-B_Imputed,customer_type - B-to-C_Imputed,customer_type - B-to-G_Imputed,percent_increase_in_revenue,percent_increase_in_users
0,0,1,Uzbekistan,Consumer,Revenue Stage,0.0,8,4.0,1.0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.459459,9.782609
1,1,224,Uzbekistan,Travel and Transport,Development Stage,0.0,8,4.0,0.0,30000,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,43.744532,69.230769
2,2,365,Uzbekistan,Financial Services,Beta Testing Stage,1.0,10,1.0,1.0,3000,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,25000.000000,24.997500
3,3,440,Uzbekistan,Enterprise,Revenue Stage,0.0,8,10.0,0.0,0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-14.446054,-20.588235
4,4,866,Uzbekistan,HR,Revenue Stage,1.0,10,5.0,0.0,0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-49.765258,-25.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,4239,3864,Canada,Agri: Agri Tech,Development Stage,1.0,10,3.0,1.0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,233.033460,50.000000
4240,4240,2593,Papua New Guinea,Education,Revenue Stage,1.0,8,2.0,1.0,102000,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,-49.988394,-41.666667
4241,4241,3098,Benin,Health / Wellness,Pre-Revenue Stage,0.0,8,5.0,1.0,0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000000,-24.987506
4242,4242,3394,Samoa,Financial Services,Development Stage,0.0,10,2.0,1.0,200000,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000
4243,4243,3472,Finland,HR,Revenue Stage,1.0,8,5.0,1.0,150000,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.000000,-25.000000

In [87]:
testdf['role_0']= changed_list

In [103]:
testdf.keys()

Index(['country', 'industry', 'business_stage', 'incorporated',
       'incorporation_date', 'Number of team members', 'accelerator',
       'amount_to_raise', 'funding at the time of application',
       'number_employees', 'revenue_1month', 'revenue_2month',
       'revenue_3month', 'users_1month', 'users_2month', 'users_3month',
       'paying_users_1month', 'paying_users_2month', 'paying_users_3month',
       'number_transactions_1month', 'number_transactions_2month',
       'number_transactions_3month', 'burn_rate', 'number of competitors',
       'gender_0', 'country_0', 'gender_1', 'Total Funding', 'FUNDED',
       'status_of_funding_AMOUNT', 'status_of_funding_STATUS',
       'website_active', 'revenue_model_commission_Imputed',
       'revenue_model_product_Imputed', 'revenue_model_on-demand_Imputed',
       'revenue_model_subscription_Imputed', 'revenue_model_freemium_Imputed',
       'revenue_model_advertising_Imputed', 'revenue_model_licensing_Imputed',
       'customer_type - B-to-B-to-C_Imputed', 'customer_type - B-to-B_Imputed',
       'customer_type - B-to-C_Imputed', 'customer_type - B-to-G_Imputed',
       'percent_increase_in_revenue', 'percent_increase_in_users'],
      dtype='object')

In [94]:
testdf.drop(['status_of_funding_AMOUNT','year_incorporated','Unnamed: 0','company_id','role_0', 'role_1','company_logo','Funding before Seedstars','lat', 'lon','year_segment'], axis=1,inplace=True)

In [108]:
testdf.drop(['amount_to_raise'], axis=1,inplace=True)

In [109]:
testdf.head()

,country,industry,business_stage,incorporated,incorporation_date,Number of team members,accelerator,funding at the time of application,number_employees,revenue_1month,...,revenue_model_subscription_Imputed,revenue_model_freemium_Imputed,revenue_model_advertising_Imputed,revenue_model_licensing_Imputed,customer_type - B-to-B-to-C_Imputed,customer_type - B-to-B_Imputed,customer_type - B-to-C_Imputed,customer_type - B-to-G_Imputed,percent_increase_in_revenue,percent_increase_in_users
0,Uzbekistan,Consumer,Revenue Stage,0.0,8,4.0,1.0,0.0,1.0,110.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.459459,9.782609
1,Uzbekistan,Travel and Transport,Development Stage,0.0,8,4.0,0.0,30000.0,3.0,8000.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,43.744532,69.230769
2,Uzbekistan,Financial Services,Beta Testing Stage,1.0,10,1.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,25000.000000,24.997500
3,Uzbekistan,Enterprise,Revenue Stage,0.0,8,10.0,0.0,0.0,9.0,1380.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-14.446054,-20.588235
4,Uzbekistan,HR,Revenue Stage,1.0,10,5.0,0.0,0.0,5.0,212.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-49.765258,-25.000000

In [111]:
testdf.to_csv('cleaned data.csv', index=False)

In [2]:
testdf= pd.read_csv('cleaned data.csv')
testdf.head()

,country,industry,business_stage,incorporated,incorporation_date,Number of team members,accelerator,funding at the time of application,number_employees,revenue_1month,...,revenue_model_subscription_Imputed,revenue_model_freemium_Imputed,revenue_model_advertising_Imputed,revenue_model_licensing_Imputed,customer_type - B-to-B-to-C_Imputed,customer_type - B-to-B_Imputed,customer_type - B-to-C_Imputed,customer_type - B-to-G_Imputed,percent_increase_in_revenue,percent_increase_in_users
0,Uzbekistan,Consumer,Revenue Stage,0.0,8,4.0,1.0,0.0,1.0,110.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.459459,9.782609
1,Uzbekistan,Travel and Transport,Development Stage,0.0,8,4.0,0.0,30000.0,3.0,8000.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,43.744532,69.230769
2,Uzbekistan,Financial Services,Beta Testing Stage,1.0,10,1.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,25000.000000,24.997500
3,Uzbekistan,Enterprise,Revenue Stage,0.0,8,10.0,0.0,0.0,9.0,1380.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-14.446054,-20.588235
4,Uzbekistan,HR,Revenue Stage,1.0,10,5.0,0.0,0.0,5.0,212.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-49.765258,-25.000000

In [13]:
testdf.keys()

Index(['country', 'industry', 'business_stage', 'incorporated',
       'incorporation_date', 'Number of team members', 'accelerator',
       'funding at the time of application', 'number_employees',
       'revenue_1month', 'revenue_2month', 'revenue_3month', 'users_1month',
       'users_2month', 'users_3month', 'paying_users_1month',
       'paying_users_2month', 'paying_users_3month',
       'number_transactions_1month', 'number_transactions_2month',
       'number_transactions_3month', 'burn_rate', 'number of competitors',
       'gender_0', 'country_0', 'gender_1', 'Total Funding', 'FUNDED',
       'status_of_funding_STATUS', 'website_active',
       'revenue_model_commission_Imputed', 'revenue_model_product_Imputed',
       'revenue_model_on-demand_Imputed', 'revenue_model_subscription_Imputed',
       'revenue_model_freemium_Imputed', 'revenue_model_advertising_Imputed',
       'revenue_model_licensing_Imputed',
       'customer_type - B-to-B-to-C_Imputed', 'customer_type - B-to-B_Imputed',
       'customer_type - B-to-C_Imputed', 'customer_type - B-to-G_Imputed',
       'percent_increase_in_revenue', 'percent_increase_in_users'],
      dtype='object')

In [3]:
testdf['raised_e04'] = testdf['Total Funding'].apply(lambda row: 1 if row>=70000 else 0)

In [4]:
seed_data= deepcopy(testdf)

In [5]:
y = testdf['raised_e04']
seed_data.drop(['raised_e04'], axis=1,inplace=True)

In [6]:
seed_data

,country,industry,business_stage,incorporated,incorporation_date,Number of team members,accelerator,funding at the time of application,number_employees,revenue_1month,...,revenue_model_subscription_Imputed,revenue_model_freemium_Imputed,revenue_model_advertising_Imputed,revenue_model_licensing_Imputed,customer_type - B-to-B-to-C_Imputed,customer_type - B-to-B_Imputed,customer_type - B-to-C_Imputed,customer_type - B-to-G_Imputed,percent_increase_in_revenue,percent_increase_in_users
0,Uzbekistan,Consumer,Revenue Stage,0.0,8,4.0,1.0,0.0,1.0,110.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.459459,9.782609
1,Uzbekistan,Travel and Transport,Development Stage,0.0,8,4.0,0.0,30000.0,3.0,8000.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,43.744532,69.230769
2,Uzbekistan,Financial Services,Beta Testing Stage,1.0,10,1.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,25000.000000,24.997500
3,Uzbekistan,Enterprise,Revenue Stage,0.0,8,10.0,0.0,0.0,9.0,1380.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-14.446054,-20.588235
4,Uzbekistan,HR,Revenue Stage,1.0,10,5.0,0.0,0.0,5.0,212.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-49.765258,-25.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4225,Canada,Agri: Agri Tech,Development Stage,1.0,10,3.0,1.0,0.0,2.0,3167.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,233.033460,50.000000
4226,Papua New Guinea,Education,Revenue Stage,1.0,8,2.0,1.0,0.0,4.0,4307.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,-49.988394,-41.666667
4227,Benin,Health / Wellness,Pre-Revenue Stage,0.0,8,5.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000000,-24.987506
4228,Samoa,Financial Services,Development Stage,0.0,10,2.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000
4229,Finland,HR,Revenue Stage,1.0,8,5.0,1.0,0.0,3.0,2000.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.000000,-25.000000

In [7]:
keys= pd.get_dummies(seed_data).keys()

In [8]:
X= pd.get_dummies(seed_data)
X= np.array(X)
y= np.array(y)

In [9]:
X.shape

(4230, 316)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [11]:
sc_X = MinMaxScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [14]:
model= tf.keras.Sequential()
model.add(Dense(500, activation='relu',input_shape=(316,) ))
#model.add(Dense(300, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['AUC','accuracy'])

In [15]:
model.fit(X_train, y_train,validation_data=(X_test,y_test), epochs=20, batch_size=16, verbose=1)

Epoch 1/20
212/212 [==============================] - 3s 7ms/step - loss: 0.4889 - auc: 0.7576 - accuracy: 0.7487 - val_loss: 0.2933 - val_auc: 0.9275 - val_accuracy: 0.8522
Epoch 2/20
212/212 [==============================] - 1s 4ms/step - loss: 0.2912 - auc: 0.9297 - accuracy: 0.8557 - val_loss: 0.2779 - val_auc: 0.9326 - val_accuracy: 0.8558
Epoch 3/20
212/212 [==============================] - 1s 5ms/step - loss: 0.2499 - auc: 0.9497 - accuracy: 0.8804 - val_loss: 0.2745 - val_auc: 0.9323 - val_accuracy: 0.8605
Epoch 4/20
212/212 [==============================] - 1s 5ms/step - loss: 0.2213 - auc: 0.9593 - accuracy: 0.8911 - val_loss: 0.2757 - val_auc: 0.9336 - val_accuracy: 0.8582
Epoch 5/20
212/212 [==============================] - 1s 6ms/step - loss: 0.1949 - auc: 0.9722 - accuracy: 0.9120 - val_loss: 0.2793 - val_auc: 0.9292 - val_accuracy: 0.8475
Epoch 6/20
212/212 [==============================] - 1s 4ms/step - loss: 0.1689 - auc: 0.9815 - accuracy: 0.9317 - val_loss: 0.2814 - val_auc: 0.9329 - val_accuracy: 0.8475
Epoch 7/20
212/212 [==============================] - 1s 5ms/step - loss: 0.1435 - auc: 0.9890 - accuracy: 0.9475 - val_loss: 0.2797 - val_auc: 0.9334 - val_accuracy: 0.8712
Epoch 8/20
212/212 [==============================] - 1s 6ms/step - loss: 0.1197 - auc: 0.9927 - accuracy: 0.9580 - val_loss: 0.2802 - val_auc: 0.9338 - val_accuracy: 0.8652
Epoch 9/20
212/212 [==============================] - 1s 5ms/step - loss: 0.1016 - auc: 0.9955 - accuracy: 0.9700 - val_loss: 0.2810 - val_auc: 0.9358 - val_accuracy: 0.8570
Epoch 10/20
212/212 [==============================] - 1s 6ms/step - loss: 0.0858 - auc: 0.9969 - accuracy: 0.9769 - val_loss: 0.3003 - val_auc: 0.9339 - val_accuracy: 0.8629
Epoch 11/20
212/212 [==============================] - 1s 6ms/step - loss: 0.0745 - auc: 0.9977 - accuracy: 0.9761 - val_loss: 0.2877 - val_auc: 0.9404 - val_accuracy: 0.8652
Epoch 12/20
212/212 [==============================] - 1s 5ms/step - loss: 0.0609 - auc: 0.9987 - accuracy: 0.9849 - val_loss: 0.2897 - val_auc: 0.9396 - val_accuracy: 0.8794
Epoch 13/20
212/212 [==============================] - 1s 6ms/step - loss: 0.0554 - auc: 0.9984 - accuracy: 0.9853 - val_loss: 0.3097 - val_auc: 0.9442 - val_accuracy: 0.8783
Epoch 14/20
212/212 [==============================] - 1s 6ms/step - loss: 0.0482 - auc: 0.9988 - accuracy: 0.9864 - val_loss: 0.2927 - val_auc: 0.9422 - val_accuracy: 0.8723
Epoch 15/20
212/212 [==============================] - 1s 3ms/step - loss: 0.0412 - auc: 0.9993 - accuracy: 0.9890 - val_loss: 0.3084 - val_auc: 0.9414 - val_accuracy: 0.8759
Epoch 16/20
212/212 [==============================] - 1s 4ms/step - loss: 0.0381 - auc: 0.9994 - accuracy: 0.9881 - val_loss: 0.3163 - val_auc: 0.9407 - val_accuracy: 0.8700
Epoch 17/20
212/212 [==============================] - 1s 3ms/step - loss: 0.0325 - auc: 0.9995 - accuracy: 0.9904 - val_loss: 0.3128 - val_auc: 0.9387 - val_accuracy: 0.8664
Epoch 18/20
212/212 [==============================] - 1s 4ms/step - loss: 0.0343 - auc: 0.9994 - accuracy: 0.9899 - val_loss: 0.4541 - val_auc: 0.9225 - val_accuracy: 0.8522
Epoch 19/20
212/212 [==============================] - 1s 4ms/step - loss: 0.0354 - auc: 0.9995 - accuracy: 0.9869 - val_loss: 0.3649 - val_auc: 0.9355 - val_accuracy: 0.8641
Epoch 20/20
212/212 [==============================] - 1s 3ms/step - loss: 0.0341 - auc: 0.9991 - accuracy: 0.9895 - val_loss: 0.3368 - val_auc: 0.9374 - val_accuracy: 0.8641